:root{
    --main-color: #ec9fab;
    --nav-color: #ba2c3e;
    --bg-color: #f3d6de;
    --black: #cc8998;
    --black02: #000000;
    --white: #fff;
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

.button:hover {
  background-color: #2d566b;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  display: flex;
  opacity: 0;
  pointer-events: none;  
  transition: opacity 250ms ease;
}

.modal-container:target {
    opacity: 1;
    pointer-events: all;

  }

.modal {
  margin: auto;
  width: 90%;
  max-width: 40rem;
  background-color: white;
  border-radius: 1.5rem;
}

.modal-header,
.modal-content {
  padding: 1.5rem;
}